<% @on_off_machines.each do |machine| %>
  <%= link_to machine_path(slug: machine.slug) do %>
    <div class="flex px-4 justify-start md:justify-center items-center py-1.5">
      <%#= image_tag machine.image_url, class: "object-cover h-10 w-10", alt: machine.description %>

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-indigo-500">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"/>
      </svg>

      <span class="ml-1 text-lg font-bold leading-7 tracking-tight text-gray-900"><%= machine.name %></span>
    </div>
  <% end %>
<% end %>


